.text-shadow-black {
    text-shadow: 0 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-with-icon {
    display: flex;
    font-size: 1.1rem;
}

.nav-wrapper .material-icons {
    display: inline-block;
}

nav .brand-logo {
    color: #212121;
    font-size: 1rem;
}

.text-white {
    color: #fff;
}

.text-right {
    text-align: right;
}

.text-black {
    color: #212121
}

.margin-left--10 {
    margin-left: -10px;
}

.vertically-middle {
    vertical-align: middle;
}

.f-weight-800 {
    font-weight: 800;
}

.shadow-none {
    box-shadow: none;
}


/* Footer tab menu */

.tab-menu {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    height: 60px;
    z-index: 5;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.tab-menu .item {
    padding: 14px;
    text-align: center;
}

.tab-menu .item span {
    display: none;
    color: #fff;
    margin-top: -4px;
}

.tab-menu .item.active {
    padding-top: 4px;
}

.tab-menu .item.active span {
    display: inherit;
}

.tab-menu .item.active .material-icons {
    color: #f97b51;
}

.tab-menu .material-icons {
    font-size: 30px;
    color: #929292;
}

video {
    width: 100%;
    height: auto
}

.header-font-big {
    font-size: 1.2rem !important;
    font-weight: 700;
}

.bg-grey {
    background-color: #fafafa;
}

body {
    margin-bottom: 100px;
}