.meal-day-wrapper {
    padding: 0 10px;
    background-color: #fafafa;
}

.divider {
    display: block;
    width: 100%;
    border: 1px solid #b48dbb;
}

.meal-day-wrapper .card-content h4 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.meal-day-wrapper .card-content .top {
    margin-bottom: 5px;
}

.meal-day-wrapper .card-content img {
    vertical-align: middle;
    max-width: 35px;
}

.meal-day-wrapper .card-content .bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.meal-day-wrapper .card-content .bottom {
    padding-top: 5px;
}

.meal-day-wrapper .card-content {
    padding: 10px 24px;
}

.meal-day-wrapper .card-content .bottom li {
    background: url(../img/bullet.PNG) no-repeat top left;
    background-position: 0 7px;
    line-height: 1.5625;
    background-size: 10px;
}

.meal-day-wrapper .bottom li span {
    padding-left: 15px;
}