.meal {}

.meal .content {
    position: relative;
    padding: 0 20px;
}

.meal .content .bg-image {
    max-width: 100%;
}

.meal .inner-content {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: #fff;
    left: 0;
    top: 45px;
    width: 100%;
}

.meal .content .title {
    font-size: 2rem;
}


/* calendar */

.meal .calendar {
    /* padding: 0 10px; */
}

.meal .card {
    margin-bottom: 3px;
}

.meal .calendar .card .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.meal .calendar .card-content::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #fd794f;
    height: 10px;
    top: 0;
    right: 0;
    left: 0;
}

.meal .calendar .card-content {
    color: #212121;
}


/* 
.meal .inner-content .desc p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 20px;
}

.meal .inner-content .footer {
    display: flex;
    justify-content: space-around;
    max-width: 57%;
    margin: 0 auto;
    margin-top: 10px;
}

.inner-content .footer .text-shadow-black {
    display: flex;
    justify-content: space-around;
}

.inner-content .footer .text-shadow-black img {
    max-width: 25px;
    margin-right: 5px;
}

.meal .content .next {
    background-color: rgb(255 255 255 / 65%);
    position: absolute;
    right: 16px;
    bottom: 22px;
}

.meal .next .material-icons {
    color: #221122;
    font-size: 2rem;
}

.meal .content {
    position: relative;
} */