.settings {}

.settings .content {
    position: relative;
    padding: 0 10px;
}

.settings h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

.settings .inner-content {
    margin-top: 15px;
}

.settings .inner-content .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings .inner-content .item .left-side {
    margin-left: 25px;
}

.settings .inner-content .item .left-side i {
    vertical-align: bottom;
    color: #fd794f;
}

.settings .content .title {
    font-size: 2rem;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #d31a5e;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #f4c3d6;
}