.text-with-icon .material-icons {
    margin-right: 8px;
    text-shadow: none;
}


/* Responsive video */

.playButton {
    position: absolute;
    left: 19px;
    bottom: 13px;
    background-color: transparent;
}

.playButton i {
    font-size: 2rem;
}

.playButton:hover,
.playButton:focus {
    background-color: transparent;
}

.border-radius-10 {
    border-radius: 10px;
}


/* Video description */

.video-description {}

.video-description h3 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.video-description h4 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.video-description p {
    margin-bottom: 10px !important;
}

.video-description .link {
    color: #fff;
    font-weight: 400;
}

.video-description h5 {
    color: #000;
    font-size: 1.1rem;
}