.workout-wrapper {}

.workout-wrapper h1 {
    font-size: 1.3rem;
    padding: 0 8px;
    margin: 0;
}

.workout-wrapper .header-wrapper {
    margin-top: 25px;
}

.workout-wrapper img {
    max-width: 100%;
    border-radius: 10px;
}

.workout-wrapper .content {
    max-height: 250px;
    display: inline-flex;
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 0 5px;
}

.workout-wrapper .inner-content {
    position: absolute;
    bottom: 35px;
    left: 13px;
}

.workout-wrapper .time {
    background-color: #e2e6eb;
    padding: 5px 11px;
    border-radius: 42px;
    color: #212121;
}

.workout-wrapper .time img {
    max-width: 23px;
    margin-right: 2px;
}

.workout-wrapper .title {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 3px;
    color: rgb(33 33 33 / 88%);
}