.workout-steps-wrapper {
    padding: 0 10px;
}

.workout-steps-wrapper video {
    border-radius: 10px;
}

.workout-steps-wrapper .video-container {
    margin-bottom: 10px;
    position: relative;
}

.workout-steps-wrapper .playWorkoutVideoButton {
    background-color: rgb(255 255 255 / 64%);
}

.playWorkoutVideoButton .material-icons {
    color: #212121;
}

.workout-steps-wrapper .content .bg-image {
    max-width: 100%;
    border-radius: 10px;
}

.workout-steps-wrapper .inner-content {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: #fff;
    left: 0;
    top: 45px;
    width: 100%;
}

.workout-steps-wrapper .inner-content .desc {
    margin-top: 10px;
}

.workout-steps-wrapper .inner-content .desc .title {
    font-size: 1.2rem;
    font-weight: 600;
}

.workout-steps-wrapper .inner-content .desc p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 20px;
}

.workout-steps-wrapper .inner-content .footer {
    display: flex;
    justify-content: space-around;
    max-width: 57%;
    margin: 0 auto;
    margin-top: 10px;
}

.inner-content .footer .text-shadow-black {
    display: flex;
    justify-content: space-around;
}

.inner-content .footer .text-shadow-black img {
    max-width: 25px;
    margin-right: 5px;
}

.workout-steps-wrapper .content .next {
    background-color: rgb(255 255 255 / 65%);
    position: absolute;
    right: 16px;
    bottom: 22px;
}

.workout-steps-wrapper .next .material-icons {
    color: #221122;
    font-size: 2rem;
}

.workout-steps-wrapper .content {
    position: relative;
}