.workout-day-wrapper {
    padding: 0 10px;
}

.workout-day-wrapper video {
    border-radius: 10px;
}

.workout-day-wrapper .video-container {
    margin-bottom: 10px;
    position: relative;
}

.workout-day-wrapper .playWorkoutVideoButton {
    background-color: rgb(255 255 255 / 64%);
}

.playWorkoutVideoButton .material-icons {
    color: #212121;
}

.workout-day-wrapper .workout-video-details-and-control {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: #fff;
    left: 0;
    top: 31%;
    width: 100%;
}

.workout-day-wrapper .workout-video-details-and-control .desc {
    margin-top: 10px;
}

.workout-video-details-and-control .desc p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 20px;
}